/*
相对定位：position：relative
特点：相对定位的元素仍然占据文档流中的空间，不会影响周围元素的位置，
它在原始位置的基础上进行微调，类似于微调器的作用。相对定位的元素仍
然遵循正常文档流的顺序，可以使用z-index属性进行层叠控制
绝对定位：position：absolute
特点：绝对定位的元素完全脱离了文档流，不占据空间，不影响周围元素的位置。它将相对于最近的定位属性的父元素进行定位，如果没有找到匹配的父元素，则已文档的初始包含块作为参考进行定位。
。绝对定位的元素会覆盖在其他元素之上，可以使用z-index属性进行层叠控制
*/
.upload-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .uploader-dragger {
    background: $gray-100;
    border: 1px dashed $gray-300;
    border-radius: 4px;
    cursor: pointer;
    padding: 20px;
    width: 360px;
    height: 180px;
    text-align: center;
    &:hover {
      border: 1px dashed $primary;
    }
    &.is-dragover {
      border: 2px dashed $primary;
      background: rgba($primary, .2);
    }
  }
  
  
  .upload-list-item {
    /*cubic-bezier:从开始到结束的不同速度过渡效果*/
    transition: all .5s cubic-bezier(.55,0,.1,1);
    font-size: 14px;
    line-height: 1.8;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    min-width: 200px;
    position: relative;
    &:first-child {
      margin-top: 10px;
    }
    .file-name {
      margin-left: 5px;
      margin-right: 40px;
      svg {
        margin-right: 5px;
        color: $gray-500;
      }
    }
    .file-name-error {
      color: $danger;
      svg {
        color: $danger;
      }
    }
    .file-status {
      display: block;
      position: absolute;
      right: 5px;
      top: 0;
      line-height: inherit;
    }
    .file-actions {
      display: none;
      position: absolute;
      right: 7px;
      top: 0;
      line-height: inherit;
      cursor: pointer;
    }
    &:hover {
      background-color: $gray-200;
      .file-status {
        display: none;
      }
      .file-actions {
        display: block;
      }
    }
  }